{% extends 'store/home.html' %}
{% load static %}
{% block home %}

	<div class="container mt-5">
		<div class="row">
			<div class="col-lg-8 col-sm-12">
				<h2>A propos</h2>
				<p style="font-size: 16px">
					Fabrication et vente tout ce qui est équipement d'hotelier, café , <br>resatauration, boulangerie, patisserie est épicier
					R. de Tunis, Km6,5<br>
					Notre soucis est de vous offrir le meilleur rapport qualité,<br>Toujours à l'affut de nouvelles technologie<br><br>

3000, SFAX SFAX Tunisie<br>

Tél: 74858913<br>

Fax: 74851613<br>

Produits: Armoires frigorifiques
				</p>
			</div>
			<div class="col-lg-4 col-sm-12">
				<img src="{% static "store/images/racem.png" %}" width="100%">
			</div>
		</div>
	</div>

{% endblock %}