{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="racem triki website">
    <meta name="author" content="racem triki">

    <!-- Styling -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'store/css/main.css' %}">

    <!-- Fonts -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Page Title Tag -->

    <link rel="shortcut icon" type="image/jpg" href="{% static 'store/images/logo/logo1.jpg' %}">
    <title>racem triki</title>

    <style type="text/css">
    	.home-topbar img {
    		width: 40px;
    	}
        .no-border {
            border: none;
            border-bottom: 1px solid #555555;
            background-color: transparent !important;
            padding: 3px;
            font-size: 13px;
        }
        .no-border:focus {
            border: none !important;
        }
    </style>

</head>
<body>

    <div class="container pt-3">
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <a class="navbar-brand" href="{% url 'home' %}">TOUNSI RE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'fournisseurr' %}">fournisseur</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">contact</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">A PROPOS</a>
                  </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Produit
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'serie' %}">Serie</a>
                    <a class="dropdown-item" href="{% url 'mirale' %}">Mirale</a>
                    <a class="dropdown-item" href="{% url 'comptoir' %}">Comptoir</a>
                    <a class="dropdown-item" href="{% url 'vitrine' %}">Vitrine</a>
                    <a class="dropdown-item" href="{% url 'machine' %}">Machine</a>
                  </div>
                </li>
              </ul>
              {% if user.is_admin %}
                <a class="btn btn-outline-success my-2 my-sm-0" href="/admin/" >admin</a>
                {% endif  %}
            </div>
          </nav>
          <table class="table">
            <tr style="background-color:rgb(236, 228, 155)">
              <th scope="rowgroup" >NOM</th>
              <th scope="col">ADRESSE</th>
              <th scope="col">E-mail</th>
              <th scope="col">TELEPHONE</th>
            </tr>
              {% for article in list1 %}
            <tr>
              <th scope="row">{{article.nom}}</th>
              <td>{{article.adresse}}</td>
              <td>{{article.email}}</td>
              <td>{{article.telephone}}</td>
            </tr>
            {% endfor %}  
        